/* General */


/* Nav-Bar */

.navbar-item {
    border-style: solid;
    border-color: #f8f9fa;
    border-width: 0 0 3px 0;
    transition: all 0.1s ease;
}

.navbar-item:hover {
    background-color: rgb(242, 242, 242);
    border-style: solid;
    border-color: black;
    border-width: 0 0 3px 0;
}

/* Navbar Elements take 100% of screen when screen size is smaller than 992px (lg) */
@media only screen and (max-width: 992px) {
    .navbar-nav {
        width: 100%;
        align-items: center;
    }
}
/* Main Body */

.table .delete-book {
    cursor: pointer;
}