/* Sections where opening transitions will occur */

.home-el, .about-el, .publish-el, .genres-el, .blog-el, .blog, .library-el, .contact-el, .search-el {
    animation: transitionIn 0.8s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}



/*  For IntersectionObserver Transitions sections where on-scroll transitions will occur  */

.on-scroll {
    opacity: 0;
    transform: translateX(100%);
    transition: all 1.2s;
}

.show {
    opacity: 1;
    transform: translateX(0%);
}